#!/usr/bin/env python
# -*- coding: utf-8 -*- #

# Used if you use `make publish`

import sys
sys.path.append('.')
from pelicanconf import *

SITEURL = 'http://URL_FOR_YOUR_SITE'
GOOGLE_ANALYTICS = "UA-YOUR_ACCOUNT"

DELETE_OUTPUT_DIRECTORY = True

